.img-container {
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 50px;
  align-items: center;
  margin-left: 50px;
  border: snow solid 6px;
}
.img-container > img {
  border: #49313b 10px;
}
.img-preview {
  width: 500px;
  height: 500px;
  float: left;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 150px;
  align-items: center;
  border: solid snow 60px;
  box-shadow: snow;
  border-radius: 25px;
}
body {
  background: linear-gradient(45deg, #c471ed 30%, #f64f59 90%);
}
.btn {
  position: relative;
  cursor: pointer;
  bottom: 5%;
  align-items: flex-end;
  color: #49313b 10px;
}
