.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/5123016/pexels-photo-5123016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}
.login-container {
  width: 300px;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 5px solid lightgray;
  padding: 20px;
  margin-top: 40px;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login-container > form > h5 {
  margin-bottom: 5px;
}

.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  width: 98%;
}

.login-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.sign-in {
  background-color: #a0c4c4;
  height: 30px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #111;
  border-color: #ff4136, #f012be, #01ff70;
}

.register {
  height: 30px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 3px;
  margin-top: 10px;
  background-color: lightgreen;
  width: 100%;
  color: #111;
}

.login > img {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

h5 {
  color: cornsilk;
}
a {
  text-decoration: none;
  color: aliceblue;
}
